html{
  background-image:
      url("https://img.freepik.com/fotos-gratis/fundo-de-papel-texturizado-liso-preto_53876-98333.jpg");
  background-size: cover;

height: 500px;
  text-allign: center;
  color:white;
}
